body
{
    padding:0px;
    margin:0px;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    width: 100%;
}
/* chỉnh header */
#A1 #logo
{
    position: relative;
    top: 5px;
    left: 160px;
    width: 180px;
}
#A1 #logo:hover
{
    width: 250px;
}
#A1
{
    width: auto;
    height: auto;
    background-color: rgb(136, 136, 136);
}

#A1 > #a1
{
    position: absolute;
    top: 10px;
    left: 150px;  
    font-size: 50px;
    text-shadow: 3px 3px 2px  rgb(80, 56, 56);
    color: black;
    font-style: italic;
    display: block;
}
#A1 > #a2
{
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: 20px;
}
#A1 > #a2 > img
{
    vertical-align:  bottom;
}
#a3
{
    position: absolute;
    top: 28px;
    right: 30px;
    letter-spacing: 20px;
}
#a3 > a:hover    
{
    cursor: pointer;
    color: red;
}
/* chỉnh nav */
nav
{
    display: flex;
}
nav > li
{
    background-color: rgb(68, 68, 68) ;
    width: 100%;
    height: auto;
    list-style: none;
    position: relative;
    
}
nav > li > a
{
    display: block;
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 10px;
    text-align: center;

}
nav > li > a:hover
{
    font-size: 25px;
    background-color: rgb(97, 54, 54);
    border-bottom:5px double rgb(175, 34, 34);
    cursor: pointer;
}
/* chỉnh menu con mục sản phẩm */
#b1
{
    position: absolute;
    right: 0;
    top: 34px;
    width: 100%;
    display: none;
    z-index: 2;
}
#b1 > li
{
    background-color: rgb(68, 68, 68) ; 
    list-style: none;
    width: auto;
    border-bottom:0.5px solid black;
    border-top:1px solid black;
}
#b1 > li > a
{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}
#b1 > li > a:hover
{
    font-size: 22px;
    background-color: rgb(97, 54, 54);  
}
/* chỉnh menu con mục sản phẩm b2 */
#b2
{
    position: absolute;
    right: 0;
    top: 34px;
    width: 100%;
    display: none;
    z-index: 2;
}
#b2 > li
{
    background-color: rgb(68, 68, 68) ;
    list-style: none;
    width: auto;
    border-bottom:0.5px solid black;
    border-top:1px solid black;
}
#b2 > li > a
{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}
#b2 > li > a:hover
{
    font-size: 22px;
    background-color: rgb(97, 54, 54);  
}
/* chỉnh hiển thị menu mục sản phẩm */
nav > li:hover > #b1
{
    display: block;
}
nav > li:hover > #b2
{
    display: block;
}


#Colum1
{
    display: flex;
    height: 850px;
}
.Colum
{
    width: 700px; 
    height: 700px;
    border: 1px solid rgb(183, 98, 98);
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    
}
.Colum2
{
    width: 800px; 
    height: 900px;  
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    
}
.Sanpham
{
  padding-top: 40px;

}
.Sanpham h1
{
    font-size: 40px;
}
.Sanpham h3
{
    font-size: 30px;
    color: brown;
}
.Sanpham p
{
    font-size: 20px;
}
/* Thanh Menu ngang */
.colum1
{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.colum12
{
    position: relative;
    bottom: 0;
    left: 280px;
    font-size: 30px;
}
.colum
{
    width: 15%; 
    height: 375px;
    border: 1px solid rgb(183, 98, 98);
    text-align: center;
}
.colum #img1
{
    position: absolute;
    width: 150px;
    top: -20px;
    right: 250px
}.colum #img2
{
    position: absolute;
    width: 150px;
    top: -20px;
    right: 600px
}
.Ten
{
    color: rgb(78, 87, 95);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.colum img 
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.colum img:hover
{
    width: 71%;
}
.Gia 
{
    color:  #C89979;
    font-size: 25px;
    font-weight: bold;
}
.Gia del
{
    color: rgb(214, 15, 15);
    margin-right: 20px;
}

.bx-wrapper.slideSp {
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Nut bam --------------------------- */
.d2 
{
    display: block;
    font-size: 25px;
    margin-top: 50px;
    padding: 20px; 
    border-radius: 8px;
    border: 1px;
    width: 150px;
    background-color: brown;
    text-decoration: none;
    color: white;
    text-align: center;
} 
.d2:hover
{
    background: #C89979 ;
    color: #fff;
    border: solid 2px #C89979
}
/* Nut bam */
article
{
   height: 1400px;
   width: 100%;
   margin: 0px;
}
/* Footer ----------------------------- */
footer
{
    height: auto;
    background-color:  rgb(136, 136, 136);
}
.C1 
{
    padding-left: 50px;
    display: flex;
}
.C1 > ul > li > a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.C1 > ul > li > a:hover
{
    color: rgb(64, 64, 175);
}
.C1 > ul > li 
{
    list-style: none;   
}
.C1 > ul > h3
{
    font-size: 23px;
}
.C1 > ul
{
    margin: 0px 50px;
}
.c4
{
    padding-left: 138px;
    
}
.c4 > h3
{
    font-size: 25px;
}
#c2
{
    position: relative;
    left: 500px;
}