body
{
    padding:0px;
    margin:0px;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    width: 100%;
}
/* chỉnh header */
#A1 #logo
{
    position: relative;
    top: 5px;
    left: 160px;
    width: 180px;
}
#A1 #logo:hover
{
    width: 250px;
}
#A1
{
    width: auto;
    height: auto;
    background-color: rgb(136, 136, 136);
}

#A1 > #a1
{
    position: absolute;
    top: 10px;
    left: 150px;  
    font-size: 50px;
    text-shadow: 3px 3px 2px  rgb(80, 56, 56);
    color: black;
    font-style: italic;
    display: block;
}
#A1 > #a2
{
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: 20px;
}
#A1 > #a2 > img
{
    vertical-align:  bottom;
}
#a3
{
    position: absolute;
    top: 28px;
    right: 30px;
    letter-spacing: 20px;
}
#a3 > a:hover    
{
    cursor: pointer;
    color: red;
}
/* chỉnh nav */
nav
{
    display: flex;
}
nav > li
{
    background-color: rgb(68, 68, 68) ;
    width: 100%;
    height: auto;
    list-style: none;
    position: relative;
    
}
nav > li > a
{
    display: block;
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 10px;
    text-align: center;

}
nav > li > a:hover
{
    font-size: 25px;
    background-color: rgb(97, 54, 54);
    border-bottom:5px double rgb(175, 34, 34);
    cursor: pointer;
}
/* chỉnh menu con mục sản phẩm */
#b1
{
    position: absolute;
    right: 0;
    top: 34px;
    width: 100%;
    display: none;
    z-index: 2;
}
#b1 > li
{
    background-color: rgb(68, 68, 68) ; 
    list-style: none;
    width: auto;
    border-bottom:0.5px solid black;
    border-top:1px solid black;
}
#b1 > li > a
{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}
#b1 > li > a:hover
{
    font-size: 22px;
    background-color: rgb(97, 54, 54);  
}
/* chỉnh menu con mục sản phẩm b2 */
#b2
{
    position: absolute;
    right: 0;
    top: 34px;
    width: 100%;
    display: none;
    z-index: 2;
}
#b2 > li
{
    background-color: rgb(68, 68, 68) ;
    list-style: none;
    width: auto;
    border-bottom:0.5px solid black;
    border-top:1px solid black;
}
#b2 > li > a
{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}
#b2 > li > a:hover
{
    font-size: 22px;
    background-color: rgb(97, 54, 54);  
}
/* chỉnh hiển thị menu mục sản phẩm */
nav > li:hover > #b1
{
    display: block;
}
nav > li:hover > #b2
{
    display: block;
}

/* Aside ------------------------------- */

aside
{
    margin: 20px;
}
.Menu {
  list-style: none;
  padding: 5px;
  margin: 0;
  background: #EEE;
  border-radius: 2px;
  width: 250px;
}

.Menu li a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  color: #777;
  text-align: left;
  height: 36px;
  position: relative;
  border-bottom: 1px solid #EEE;
}
.Menu li a strong {
  display: block;
  text-transform: uppercase;
}
.Menu li a small {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.Menu li:hover > a {
  color: #e67e22;
}

.Menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}
.Menu li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  color: #777;
  width:170px;
  float:left;
}
/* San Pham ---------------------------- */
aside
{
    display: flex;
}
.H1
{
    position: absolute;
    top: 120px;
    left: 330px;
    font-size: 30px;
    
}
#colum1
{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-left: 50px;
    padding-top: 80px;

}
#colum2
{
    display: flex;
    position: absolute;
    justify-content: center;
    gap: 60px;
    padding-left: 50px;
    padding-top: 80px;
    bottom: -200px;
    left: 280px;

}
.colum
{
    width: 300px; 
    height: 350px;
    border: 1px solid rgb(183, 98, 98);
    text-align: center;
}

.Ten
{
    color: rgb(78, 87, 95);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.colum img 
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.colum #img1
{
    position: absolute;
    width: 150px;
    top: -20px;
    right: 250px
}.colum #img2
{
    position: absolute;
    width: 150px;
    top: -20px;
    right: 600px
}

.colum img:hover
{
    width: 71%;
}
.Gia 
{
    font-family: "Roboto", sans-serif;
    color:  #C89979;
    font-size: 25px;
    font-weight: bold;
}

.bx-wrapper.slideSp {
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

article
{
   height: 600px;
   width: 100%;
   margin: 0px;
}
/* Footer ----------------------------- */
footer
{
    height: auto;
    background-color:  rgb(136, 136, 136);
}
.C1 
{
    padding-left: 50px;
    display: flex;
}
.C1 > ul > li > a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.C1 > ul > li > a:hover
{
    color: rgb(64, 64, 175);
}
.C1 > ul > li 
{
    list-style: none;   
}
.C1 > ul > h3
{
    font-size: 23px;
}
.C1 > ul
{
    margin: 0px 50px;
}
.c4
{
    padding-left: 138px;
    
}
.c4 > h3
{
    font-size: 25px;
}
#c2
{
    position: relative;
    left: 500px;
}